@use '@/styles/colors' as *;
@use '@/styles/typography' as *;
@use '@/styles/fonts' as *;
@use '@/styles/responsive' as *;

.timelineSection {
  @extend .bg-black-400;

  padding-block: 120px;

  @include lgAndBelow() {
    padding-block: 100px;
  }

  @include mdAndBelow() {
    padding-block: 80px;
  }

  @include smAndBelow() {
    padding-block: 60px;
  }
}

.title {
  @extend .heading-2;
  @extend .text-primary;

  text-align: center;
  margin-block-end: 10px;
}

.lead {
  @extend .text-primary;
  
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  margin-block-end: 60px;
  
  @include smAndBelow() {
    font-size: 16px;
    margin-block-end: 40px;
  }
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  gap: 200px;

  @include smAndBelow() {
    gap: 40px;
  }
}

.timelineRow {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;

  @include smAndBelow() {
    flex-direction: column;
  }

  &:not(:last-child):nth-child(2n+1) {
    .timelineItem:last-child {
      position: relative;

      &::after {
        content: "";
        height: 180px;
        width: 2px;
        position: absolute;
        top: 40px;
        right: 50%;
  
        @extend .bg-tertiary;

        @include smAndBelow() {
          display: none;
        }
      }
    }
  }

  &:not(:last-child):nth-child(2n) {
    .timelineItem:first-child {
      position: relative;
      
      &::after {
        content: "";
        height: 180px;
        width: 2px;
        position: absolute;
        top: 40px;
        left: 50%;
  
        @extend .bg-tertiary;

        @include smAndBelow() {
          display: none;
        }
      }
    }
  }
}

.timelineItem {
  @extend .text-primary;

  text-align: center;
}

.timelineColumnSeparator {
  flex: 1;
  height: 2px;
  
  @extend .bg-secondary;
}

.emoji {
  font-size: 60px;
}