@use "sass:map";

$primary-color: #fffffe;
$secondary-color: #7f5af0;
$tertiary-color: #2cb67d;

$gray-100: #94a1b2;
$gray-200: #72757e;

$black-100: #242629;
$black-200: #16161a;
$black-300: #010101;

$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "tertiary": $tertiary-color,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "black-100": $black-100,
  "black-200": $black-200,
  "black-300": $black-300
);

@each $color-name, $color-value in $colors {
  .bg-#{$color-name} {
    background: $color-value
  }

  .text-#{$color-name} {
    color: $color-value;
  }
}

$stt-gradient: linear-gradient(to right, $secondary-color, $tertiary-color);

.bg-gradient {
  background: $stt-gradient;
}

.text-gradient {
  background: $stt-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}