@use 'mixins';
@use 'fonts' as *;
@use 'responsive' as *;

$body--font-size: 16px;
$body--line-height: 1.2;

.heading-1 {
  font-family: $secondary-font;
  font-size: 72px;
  line-height: 1.1;

  @include lgAndBelow() {
    font-size: 60px;
  }

  @include mdAndBelow() {
    font-size: 48px;
  }

  @include smAndBelow() {
    font-size: 40px;
  }
}

.heading-2 {
  font-family: $secondary-font;
  font-size: 48px;
  line-height: 1.5;

  @include smAndBelow() {
    font-size: 32px;
  }
}

.text-lead {
  font-size: 20px;
  line-height: 1.7;

  @include smAndBelow() {
    font-size: 18px;
    line-height: 1.5;
  }
}

.text-small {
  font-size: 14px;
  line-height: 17px;
}